<div class="signatures-list">
  <h1 class="lead text-center"><%= t('signatures.signatures_by_country') %></h1>

  <div class="signature-locations">
    <% @countries.each do |country| %>
      <div class="lead signatures-list-count">
        <%= link_to(localized_country_name(country), country_signatures_path(country.country_code.downcase)) %>
        <span class="signature-count"><%= number_with_delimiter(country.signature_count) %></span>
      </div>
    <% end %>

    <div class="paginator">
      <%= paginate @countries, window: 1, outer_window: 0 %>
    </div>
  </div>
</div>

<div class="breadcrumb-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to(t('links.home').downcase, home_path) %></li>
    <li class="breadcrumb-item active"><%= t('links.signatures').downcase %></li>
  </ol>
</div>
