<div class="container about-us">
  <h1 class="lead text-center"><%= t('links.about_us') %></h1>

  <p><%= t('about_us.para_1') %></p>
  <p><%= t('about_us.para_2') %></p>
  <p><%= t('about_us.para_3_html', petition_link: link_to(t('about_us.petition'), home_path),
           faq_link: link_to(t('links.faq'), faq_path),
           sign_petition_link: link_to(t('about_us.sign_the_petition'), new_signature_path)) %></p>

   <p class="text-right bottom-links"><%= link_to(t('links.home').downcase, home_path) %></p>
</div>
