<div class="faqs">
  <h1 class="lead text-center"><%= t('links.faq') %></h1>

  <% I18n.t('faq').values.each do |question_answer| %>
    <%= content_tag :p, question_answer[:question_html].html_safe, class: 'question lead' %>
    <%= content_tag :p, question_answer[:answer_html].html_safe, class: 'answer' %>
  <% end %>
</div>

<div class="breadcrumb-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to(t('links.home').downcase, home_path) %></li>
    <li class="breadcrumb-item active"><%= t('links.faq').downcase %></li>
  </ol>
</div>
