<div class="petition-text">
  <% I18n.t('home.petition').values.each do |para| %>
    <%= content_tag :p, para.html_safe, class: 'lead' %>
  <% end %>

  <p class="petition-signer">
    <em><%= link_to(t('site_name', default: '100MillionVoices'), about_us_path) %></em><br>
  </p>
  <p class="petition-date">
    <small class="text-muted"><%= petition_date %></small>
  </p>
</div>

<div class="row signature-counts">
  <% if @signature_count_for_country %>
    <div class="text-center counter-block col-md-12 col-lg-6">
      <%= link_to(country_path(@country_code.downcase)) do %>
        <div class="counter country-counter">
          <small class="text-muted counter-text">
            <%= t('home.signatures_from', country: country_from_country_code(@country_code)) %>
          </small>
          <div class="counter-number" data-country="<%= @country_code %>" data-count="<%= @signature_count_for_country %>">
            <%= number_with_delimiter(@signature_count_for_country) %>
          </div>
        </div>
      <% end -%>
    </div>
  <% end -%>

  <div class="text-center counter-block col-md-12 col-lg-6">
    <%= link_to(signatures_path) do %>
      <div class="counter">
        <small class="text-muted counter-text"><%= t('home.total_signatures') %></small>
        <div class="counter-number" data-country="ALL" data-count="<%= @signature_count %>">
          <%= number_with_delimiter(@signature_count) %>
        </div>
      </div>
    <% end -%>
  </div>

  <% if @top_places_for_country %>
    <div class="text-center top-places col-md-12 col-lg-6">
      <%= link_to(country_path(@country_code.downcase)) do %>
        <% @top_places_for_country.each do |place, count| %>
          <div class="top-places-list-count">
            <span><%= place %></span>
            <span class="signature-count" data-place="<%= place %>" data-count="<%= count %>">
              <%= number_with_delimiter(count) %>
            </span>
          </div>
        <% end -%>
      <% end -%>
    </div>
  <% end -%>

  <div class="text-center counter-block sign-petition-block col-md-12 col-lg-<%= @signature_count_for_country && !@top_places_for_country ? '12' : '6' %>">
    <%= link_to(fa_icon('pencil', text: t('home.sign_petition')).html_safe, new_signature_path, class: 'btn btn-lg btn-secondary') %>
  </div>
</div>

<%= render 'share_petition' %>

<div class="breadcrumb-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><%= t('links.home').downcase %></li>
  </ol>
</div>
