<div class="petition-text">
  <% I18n.t('home.petition').values.each do |para| %>
    <%= content_tag :p, para.html_safe, class: 'lead' %>
  <% end %>
</div>

<% if @signature_count_for_country %>
  <div class="text-center country-counter-container">
    <div class="counter">
      <div class="counter-number"><%= number_with_delimiter(@signature_count_for_country) %></div>
      <small class="text-muted counter-text">
        <%= link_to(t('home.signatures_from', country: country_from_country_code(@country_code)), country_signatures_path(@country_code.downcase)) %>
      </small>
    </div>
  </div>
<% end -%>

<div class="text-center counter-container">
  <div class="counter">
    <div class="counter-number"><%= number_with_delimiter(@signature_count) %></div>
    <small class="text-muted counter-text"><%= link_to t('home.total_signatures'), signatures_path %></small>
  </div>
</div>

<div class="container sign-petition text-right">
  <%= link_to(fa_icon('pencil', text: t('home.sign_petition')).html_safe, new_signature_path, class: 'btn btn-secondary') %>
</div>

<%= render 'share_petition' %>
