<div class="signatures-list">
  <h1 class="lead text-center">
    <%= t('signatures.signatures_from', country: country_from_country_code(@country_code)) %>
  </h1>

  <div class="text-center">
    <div class="card country-count-and-target text-center">
      <p class="lead">
        <%= t('signatures.signature_count_html',
            count: content_tag(:span, number_with_delimiter(@country.signature_count), data: { country: @country.country_code, count: @country.signature_count }, class: 'signature-target-count')) %>
      </p>

      <% if @country.target_signature_count %>
        <p class="lead">
          <%= t('signatures.target_signature_count_html', target: content_tag(:span, number_with_delimiter(@country.target_signature_count), class: 'signature-target-count')) %>
        </p>
      <% end -%>
    </div>
  </div>

  <% if @country.target_signature_count %>
    <p class="target-status">
      <% if @country.target_reached? %>
        <% # worry about this if and when %>
      <% else -%>
        <%= what_happens_if_target_is_met(@country_code) %>
      <% end -%>
      <% if @signatures_by_place.any? %>
        <%= t('signatures.signatures_by_place_limit') %>
      <% end %>
    </p>
  <% end -%>

  <div class="signature-locations signature-places">
    <% @signatures_by_place.each do |place, count| %>
      <div class="lead signatures-list-count">
        <span><%= place %></span>
        <span class="signature-count" data-place="<%= place %>" data-count="<%= count %>">
          <%= number_with_delimiter(count) %>
        </span>
      </div>
    <% end %>

    <div class="lead signatures-list-count hidden new-row">
      <span>Blank</span>
      <span class="signature-count" data-place="" data-count="0">0</span>
    </div>
  </div>
</div>

<div class="breadcrumb-container">
  <div class="sign-petition-btn">
    <%= link_to(fa_icon('pencil', text: t('home.sign_petition')).html_safe, new_signature_path, class: 'btn btn-lg btn-secondary') %>
  </div>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to(t('links.home').downcase, home_path) %></li>
    <li class="breadcrumb-item">
      <%= link_to(t('links.signatures').downcase, signatures_path) %>
    </li>
    <li class="breadcrumb-item active">
      <%= country_from_country_code(@country_code).downcase %>
    </li>
  </ol>
</div>
