<div class="signatures-list">
  <h1 class="lead text-center">
    <%= t('signatures.signatures_from', country: country_from_country_code(@country_code)) %>
  </h1>

  <p class="lead">
    <%= t('signatures.signature_count_html', count: number_with_delimiter(@country.signature_count)) if @country%>
  </p>

  <% if @country&.target_signature_count %>
    <p class="lead">
      <%= t('signatures.target_signature_count_html', target: number_with_delimiter(@country.target_signature_count)) %>
    </p>

    <p>
      <% if @country.target_reached? %>
        <% # worry about this if and when %>
      <% else -%>
        <%= what_happens_if_target_is_met(@country_code) %>
      <% end -%>
      <% if @signatures_by_place.any? %>
        <%= t('signatures.signatures_by_place_limit') %>
      <% end %>
    </p>
  <% end -%>

  <% @signatures_by_place.each do |place_and_count| %>
    <div class="lead signatures-list-count">
      <%= place_and_count[0].present? ? place_and_count[0] : "<em>#{t('signatures.unspecified')}</em>".html_safe %>
      <span class="signature-count"><%= number_with_delimiter(place_and_count[1]) %></span>
    </div>
  <% end %>

  <p class="text-left bottom-links">
    / <%= link_to(t('links.home').downcase, home_path) %> /
    <%= link_to(t('links.signatures').downcase, signatures_path) %>
    <span class="sign-petition-btn">
      <%= link_to(fa_icon('pencil', text: t('home.sign_petition')).html_safe, new_signature_path, class: 'btn btn-secondary') %>
    </span>
  </p>
</div>
