<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>100MillionVoices</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="navbar navbar-left bg-warning text-white">
      <div class="navbar-header">
        <h1 class="header-text lead"><%= t('heading_html') %></h1>
      </div>
    </header>

    <div class="container-fluid">
      <%= yield %>
    </div>

    <footer class="footer text-muted">
      <div class="container">
        <ul class="footer-links">
          <li><%= link_to(fa_icon('home').html_safe, home_path) %></li>
          <li><%= link_to(fa_icon('question', text: 'FAQ').html_safe, '/faq') %></li>
          <li><%= link_to(fa_icon('pencil', text: 'Sign petition').html_safe, new_signature_path) %></li>
          <li><%= link_to(fa_icon('info', text: 'About us').html_safe, '/about-us') %></li>
          <li><a href="mailto:help@100millionvoices.org"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact</a></li>
          <li>
            <a href="https://twitter.com/100MillVoices" rel="external" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
