<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% if request.get? %>
      <% I18n.available_locales.each do |locale| %>
        <link rel="alternate" href="<%= url_for_locale(locale) %>" hreflang="<%= locale %>" />
      <% end -%>
      <% if request.path == home_path(params[:locale]) %>
        <link rel="alternate" href="<%= root_url(locale: nil) %>" hreflang="x-default" />
      <% end -%>
    <% end -%>

    <title>100MillionVoices</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <%= yield :head %>
  </head>

  <body>
    <header class="navbar navbar-left bg-warning text-white">
      <div class="navbar-header">
        <h2 class="header-text lead"><%= t('heading_html', home_link: link_to('100MillionVoices', home_path)) %></h2>
        <div class="dropdown text-right">
          <button class="dropbtn"><%= current_language %></button>
          <div class="dropdown-content text-left">
            <% locales.each do |locale, language| %>
              <% if locale != params[:locale] %>
                <%= link_to(language, url_for_locale(locale)) %>
              <% else %>
                <div class="selected-language"><%= language %><i class="fa fa-check" aria-hidden="true"></i>
                </div>
              <% end %>
            <% end -%>
          </div>
        </div>
      </div>
    </header>

    <div class="container-fluid main">
      <%= yield %>
    </div>

    <footer class="footer text-muted">
      <div class="container-fluid">
        <ul class="footer-links">
          <li><%= link_to(t('links.home'), home_path) %></li>
          <li><%= link_to(t('links.sign_petition'), new_signature_path) %></li>
          <li><%= link_to(t('links.signatures'), signatures_path) %></li>
          <li><%= link_to(t('links.faq'), faq_path) %></li>
          <li><%= link_to(t('links.about_us'), about_us_path) %></li>
          <li><a href="mailto:help@100millionvoices.org" rel="external"><i class="fa fa-envelope-o" aria-hidden="true"></i> <%= t('links.contact') %></a></li>
          <li>
            <a href="https://twitter.com/100MillionVoice" rel="external" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
